.nav svg {
  width: 17px;
}

.nav {
  position: absolute;
  bottom: 0;
  color: #c5c7da;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  height: 52px;
}

.nav-first {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 52px;
}