/* === COLORS & GRADIENTS === */
:root {
  --img: url('https://sun9-2.userapi.com/c830709/v830709453/17f58c/vPCov8kW6Ns.jpg');
  --gray: #6a6a6a;
  --g2: #84878A;
  --black: #050606;
  --dark: #18191D;
  --abbey: #47494B;
  --brightRed: #D11302;
  --dRed: #A30D02;
  --RedOxide: #5D0F04;
  --accent: #E8550C;
  --RoseBud: #F5A691;
  --white: #fff;
  --lemon: #f9ca24;
  --gr: linear-gradient(120deg, #47494B 0%, #18191D 100%);
  --gr2: linear-gradient(120deg, #E8550C 0%, #ff8d1a 100%);
  --gr3: linear-gradient(45deg, #D11302 0%, #f9ca24 100%);
    --tg-content-safe-area-inset-bottom: 0px;
  --tg-safe-area-inset-bottom: 0px;
}

*, *::before, *::after {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}
body {
  font-size: 28px;
  background-color: #26282B;
  height: 100vh;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* === BUTTONS === */
.btn--big {
  font-size: 1.1rem;
  height: 80px;
  width: 80px;
  border-width: 3px;
  line-height: 1;
  box-shadow: -3px -3px 20px #565656, 5px 5px 20px #050606;
}
.btn--big:active,
.btn--big.active {
  box-shadow: inset 10px 10px 20px rgba(209, 19, 2, 0.5), -3px -3px 20px #565656, 5px 5px 20px #050606;
}

.btn--xs {
  box-shadow: -3px -3px 15px #6a6a6a, 3px 3px 15px #050606;
  font-size: .6rem;
  height: 40px;
  width: 40px;
  border-width: 2px;
  line-height: 1;
}
.btn--xs:active,
.btn--xs.active {
  box-shadow: inset 10px 10px 20px rgba(209, 19, 2, 0.5), -3px -3px 15px #6a6a6a, 3px 3px 15px #050606;
}
.button:active,
.button.active {
  border-color: var(--accent);
  background-image: var(--gr2);
  color: var(--white);
}

/* Icon buttons (Font Awesome required) */
.button.play::before {
  content: '\f04b';
  left: 50%;
}
.button.play.pause {
  border-color: var(--accent);
  background-image: var(--gr2);
  color: var(--white);
  box-shadow: inset 10px 10px 20px rgba(209, 19, 2, 0.5), -3px -3px 20px #565656, 5px 5px 20px #050606;
}
.button.play.pause::before {
  content: '\f04c';
  left: 50%;
}
.button.pause::before {
  content: '\f04c';
  left: 50%;
}
.button.dots::before {
  content: '\f141';
  left: 50%;
}
.button.playlist::before {
  content: '\f0c9';
  left: 50%;
}
.button.playlist.isactive {
  border-color: var(--accent);
  background-image: var(--gr2);
  color: var(--white);
  box-shadow: inset 10px 10px 20px rgba(209, 19, 2, 0.5), -3px -3px 20px #565656, 5px 5px 20px #050606;
}
.button.playlist.isactive::before {
  content: '\f00d';
  /* display: none; */
}
.button.heart::before {
  content: '\f004';
  left: 49%;
}
.button.prev {
  margin-right: 20px;
}
.button.prev::before {
  content: '\f04a';
  left: 48%;
}
.button.next {
  margin-left: 20px;
}
.button.next::before {
  content: '\f04e';
  left: 50%;
}
.button.back::before {
  content: '\f053';
  left: 48%;
}

/* === APP === */
/* .app {
  overflow: hidden;
  position: relative;
  max-width: 400px;
  min-height: 875px;
  width: 100vw;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#343A3F 0%, #232528 100%);
  border: 1px solid #252829;
  border-radius: 50px;
  box-shadow: 5px 5px 35px #18191D;
} */
.app__head {
  justify-content: space-between;
  padding: 50px 50px 0;
}
.app__head.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__body {
  margin: 30px 0 50px;
  flex-direction: column;
  padding: 0 35px 0 35px;
}
.app__footer {
  justify-content: center;
  margin-bottom: 40px;
  opacity: 1;
  transition: opacity .25s ease;
}
.app__footer.isactive {
  opacity: 0;
}

/* === ROW === */
.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* === ALBUM === */
.album {
  align-self: center;
  margin-bottom: 50px;
}
.album__img {
  overflow: hidden;
  height: 300px;
  width: 300px;
  transition: all .25s ease;
  border: 10px solid #18191D;
  border-radius: 100%;
  transform-origin: top center;
  box-shadow: -5px -5px 25px #505050, 5px 5px 25px #050606;
  background-image: var(--img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.album__img.isactive {
  transform: scale(.5);
}
.album__info {
  margin-top: 50px;
  text-align: center;
  color: #A7A8AA;
  opacity: 1;
  transition: opacity .25s ease;
}
.album__info.isactive {
  opacity: 0;
}
.album__info-name {
  font-size: 36px;
  padding-bottom: 10px;
}
.album__info-track {
  padding-top: 5px;
  font-size: 16px;
}

/* === PROGRESS === */
.progress {
  position: relative;
  margin-bottom: 30px;
  opacity: 1;
  transition: opacity .25s ease;
}
.progress.isactive {
  opacity: 0;
}
.progress__count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--gray);
}
.progress__bar {
  position: relative;
  margin-top: 25px;
  border-radius: 50px;
  width: 100%;
  height: 8px;
  background-color: #222226; /* lighten($dark, 5) примерно */
  cursor: pointer;
}
.progress__bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray);
  border-left: 2px solid var(--gray);
  border-right: 1px solid var(--gray);
  z-index: 1;
  border-radius: 50px;
  box-shadow: inset 5px 3px 5px #000;
}
.progress__bar-current {
  transition: all .25s ease;
  position: absolute;
  background-image: var(--gr3);
  height: calc(100% - 2px);
  width: 0%;
  z-index: 3;
  bottom: 1px;
  left: 2px;
  border-radius: 50px;
  box-shadow: inset 0px 2px 3px rgba(24,25,29,.5);
}
.progress__bar-pin {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  left: 0%;
  transition: all .25s ease;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-image: var(--gr);
  box-shadow: -5px -5px 15px #505050, 3px 3px 15px #050606, inset -3px -3px 5px #18191D;
}
.progress__bar-pin::after {
  content: '';
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
  width: 35%;
  background-color: var(--lemon);
  box-shadow: -5px -5px 12px #18191D, 5px 5px 12px var(--gray), inset 2px 2px 5px #888;
}

/* === TRACKS === */
.tracks {
  position: absolute;
  max-height: 600px;
  height: 100%;
  list-style-type: none;
  overflow: hidden;
  left: 0;
  width: 100%;
  padding: 20px 5px 0 20px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  bottom: -100%;
  transition: bottom .25s ease;
  background-color: #303438;
}
.tracks.isactive {
  z-index: 10;
  animation: bounce .5s ease forwards alternate;
}
.tracks__list {
  padding-top: 20px;
  position: relative;
  top: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}
.tracks__list::-webkit-scrollbar {
   display: none;
}
.tracks__item {
  color: #A7A8AA;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  transition: all .5s ease;
  border: 1px solid transparent;
  background: #303438;
}
.tracks__item.isactive {
  background-color: #1a1b1f; /* lighten($dark, 1) примерно */
  border-bottom: 1px solid #18191D;
  border-top: 1px solid #353535; /* darken($gray, 20) */
  border-right: 1px solid #353535;
  box-shadow: inset 0 -25px 25px #222226;
  /* background-image: linear-gradient($dark 0%, lighten($dark, 20)) */
}
.tracks__info {
  display: flex;
  flex-direction: column;
}
.tracks__info-artist {
  font-size: 18px;
  padding-bottom: 5px;
}
.tracks__info-name {
  font-size: 14px;
}

/* === ANIMATIONS === */
@keyframes bounce {
  0% { bottom: -100%; }
  50% { bottom: 3%; }
  100% { bottom: 0%; }
}